<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram.ejs</title>
</head>
<body>
    <h1>@<%=data.name%></h1>
    <!-- Error occured while printing the username from data.json file -->
    <button>follow</button>
    <button>message</button>
</body>
</html>