<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolldice.ejs</title>
</head>
<body>
    <h1>Rolldice page</h1>
    <p><%= dice %></p>
    <% if (dice==6) { %>
    <p>Nice roll it again</p>
    <% } %>
</body>
</html>