body{
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;

}
.btn{
    height: 200px;
    width:200px;
    border-radius: 20%;
    border:5px solid black;
    margin:2rem;
}
.red{
    background-color:#d95980;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #b25acc ;
}
.green{
    background-color: #63acc0;
}
.btnflash{
    background-color: white;
}
.userflash{
    background-color: green;
}
