<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/style.css">
    <!-- now it is by default checking for files in public sub folders -->
</head>
<body>
    <h1>No such account</h1>
</body>
</html>