<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram.ejs</title>
    <!-- we cannot use the default method of style setting here because the expresses server
    already decides to take any static files from the public folder only so we should not mention it 
    which leads to a confusion -->
    <!-- <link rel="stylesheet" href="../public/style.css"> -->
    <link rel="stylesheet" href="/style.css">

</head>