#container{
    display:grid;
    grid-template-rows:repeat(11,1fr);
    grid-template-columns: repeat(11,1fr);
    background-color: lightpink;
    row-gap:10px;
    column-gap:10px;
    height: 500px;
    width:500px;
}
.header{
    grid-column: 1/12;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
.sidebar{
    grid-column:1/4;
    grid-row:2/11;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
.ads{
    grid-column:9/12;
    grid-row:2/11;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
.navigation{
    grid-column:4/9;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
.main{
    grid-row:3/11;
    grid-column:4/9;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
.footer{
    grid-row-start:11/12;
    grid-column:1/12;
    margin:10px 10px 10px 10px;
    border:2px solid black;
}
@media(max-width:750px){
    .header{
        grid-column: 1/12;
        border:2px solid black;
    }
    .sidebar{
        grid-column:1/4;
        grid-row:3/11;
        border:2px solid black;
    }
    .ads{
        grid-column:1/4;
        grid-row:11/12;
        border:2px solid black;
    }
    .navigation{
        grid-column:1/12;
        grid-row:2/3;
        border:2px solid black;
    }
    .main{
        grid-row:3/11;
        grid-column:4/12;
        border:2px solid black;
    }
    .footer{
        grid-row:11/12;
        grid-column:4/12;
        border:2px solid black;
    }
}